.appTasks {
    padding: 15px;
    margin: 0 auto;
    width: 400px;
}

.childTitle {
    /* padding-top: 20px; */
    text-align: center;
    color: #4CAF50;
    font-weight: 600;
    font-size: 20px;
}

h3 {
    font-weight: 500;
    font-size: 15px;
    color: #616161;
}

mat-grid-tile {
    background: lightblue;
}

.justifyLeft {
    /* background-color: red; */
    display: flex;
    justify-content: left;
    text-align: left;
}

.mat-grid-tile, .mat-figure {
    /* background-color: red; */
    display: flex;
    justify-content: left;
}

.row-example div {
    border: 1px solid red;
}

.column-example div {
    border: 1px solid red;
}

/* 
.addTask {
    padding: 10px 15px 0px 15px;
    border: 0px;
    margin: 0px;
    
}

.addTaskForm {

    width: 100%;
}



mat-card-actions.addTaskActions {
    padding: 15px 0px;
    margin: 0px;
    
}

mat-card-actions.addTaskActions button {
    margin-bottom: 15px;
}

.example-full-width {
    width: 100%;
}

.addTaskDescription {
    height: 65px;
    max-height: 75px;
}

input:-webkit-autofill {
    background-color: white;
} */