.appTasks {
    padding: 15px;
    margin: 0 auto;
    width: 400px;
}

h2 {
    font-weight: 300;
    font-size: 20px;
}
/* 
.addTask {
    padding: 10px 15px 0px 15px;
    border: 0px;
    margin: 0px;
    
}

.addTaskForm {

    width: 100%;
}



mat-card-actions.addTaskActions {
    padding: 15px 0px;
    margin: 0px;
    
}

mat-card-actions.addTaskActions button {
    margin-bottom: 15px;
}

.example-full-width {
    width: 100%;
}

.addTaskDescription {
    height: 65px;
    max-height: 75px;
}

input:-webkit-autofill {
    background-color: white;
} */