.sidePadding {
    padding: 0px 50px;
}

.logo {
    padding-right: 25px;
    font-weight: 700;
    font-family: 'Mogra', cursive;
    font-size: 25px;
}

.button-row {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.example-spacer {
    flex: 1 1 auto;
}

.example-icon {
    padding: 0 14px;
}

.userImageNoRespon img {
    border-radius: 50%;
    vertical-align: middle;
    width: 40px;
    height: 40px;
    object-fit: cover;
    margin: 0px 5px 0px 15px;
    /* padding: 0px 0px 0px 15px; */
}

.childBalance {
    font-size: 16px;
    padding: 0px 0px 0px 15px;
}

.responTasks, .responWishes {
    display: none;
}

.hamburger {
    padding: 0px 5px;
}

.userNameNoRespon {
    padding-right: 10px;
    font-size: 15px;
}

.logOut {
    font-family: 'Quicksand', sans-serif;
}

.responUser {
    display: none;
}

/* .responImage {
    display: none;
} */

/* Responsive - media query **************************/

@media only screen and (max-width: 650px) {
    .sidePadding {
        padding: 0px 15px;
    }
    .TasksNoRespon, .WishesNoRespon {
        display: none;
    }
    .responTasks, .responWishes {
        display: block;
        padding: 0px;
        min-width: 50px;
    }
    .userImageNoRespon img, .userNameNoRespon {
        display: none;
    }
    .responUser {
        display: block;
        padding: 0px 15px 8px 15px;
    }
    .responUser img {
        border-radius: 50%;
        vertical-align: middle;
        width: 40px;
        height: 40px;
        object-fit: cover;
    }
    .hamburger {
        padding: 0px;
        min-width: 60px;
    }
    /* .matMenu_ {
        padding: 15px;
    } */
    .logo {
        padding-right: 25px;
        font-weight: 700;
        font-family: 'Mogra', cursive;
        font-size: 20px;
    }
}