<!-- Parent view of child - info ////////////////////////////////////////// -->
<!-- Child toolbar -->
<mat-toolbar class="pageToolbar" *ngIf="currentRoute == 'child-view'">
    <h1 class="childName">
        <img src="{{ img }}">
        <span>{{ first_name }}</span>
    </h1>
    <span class="example-spacer"></span>
    <span class="childBalance">${{ childBalance }}</span>
</mat-toolbar>

<!-- Tasks main pane -->
<div class="row" *ngIf="currentRoute == 'child-view'">
    <div class="main">
        <div class="appTasks">

            <h2 class="columnTitle">Tasks</h2>
            <app-add-task (addTaskEmit)="addTask($event)"></app-add-task>

            <div class="noTasks" *ngIf="noTasks">
                <h3 *ngIf="currentRoute == 'child-view'">*Your child has no tasks - add some!</h3>
            </div>

            <div class="row">


                <div class="outstandingTasksColumn">
                    <h3 class="filterTitle" *ngIf="!noTasks">Outstanding
                        <!-- <mat-icon aria-label="Set all outstanding tasks complete">done_all</mat-icon> -->
                    </h3>
                    <app-task-card class="col-3" *ngFor="let task of (tasks | outstandingTasks); let i = index;"
                        [task]=task [currentRoute]="currentRoute" (taskCompleteEmit)="taskComplete($event)"
                        (taskIncompleteEmit)="taskIncomplete($event)" (taskApproveEmit)="taskApprove($event)"
                        (taskUnApproveEmit)="taskUnApprove($event)"></app-task-card>
                </div>
                <div class="completedTasksColumn">
                    <h3 class="filterTitle">Completed
                        <!-- <mat-icon aria-label="Set all completed tasks approved">done_all</mat-icon> -->
                    </h3>
                    <app-task-card class="col-3" *ngFor="let task of (tasks | completedTasks); let i = index;"
                        [task]=task [currentRoute]="currentRoute" (taskCompleteEmit)="taskComplete($event)"
                        (taskIncompleteEmit)="taskIncomplete($event)" (taskApproveEmit)="taskApprove($event)"
                        (taskUnApproveEmit)="taskUnApprove($event)"></app-task-card>
                </div>
            </div>
            <div class="row">
                <div class="approvedTasksRow">
                    <h3 class="filterTitle">Approved</h3>
                    <app-task-card class="col-3" *ngFor="let task of (tasks | approvedTasks); let i = index;"
                        [task]=task [currentRoute]="currentRoute" (taskCompleteEmit)="taskComplete($event)"
                        (taskIncompleteEmit)="taskIncomplete($event)" (taskApproveEmit)="taskApprove($event)"
                        (taskUnApproveEmit)="taskUnApprove($event)"></app-task-card>
                </div>
            </div>
        </div>
    </div>

    <!-- Wishlist side pane -->
    <div class="side">
        <h2 class="columnTitle">Wishlist</h2>
        <app-wish-list></app-wish-list>
    </div>
</div>


<!-- Child tasks view ////////////////////////////////////////// -->
<mat-toolbar class="pageToolbar" *ngIf="currentRoute == 'child-task'">
    <h2 class="tasksPageTitle">My Tasks</h2>
    <span class="example-spacer"></span>
    <!-- <span class="childBalance">${{ childBalance }}</span> -->
</mat-toolbar>
<div class="myTasks" *ngIf="currentRoute == 'child-task'">
    <div *ngIf="noTasks">
        <h1 *ngIf="currentRoute == 'child-task'">Ask your parents to give you a task!</h1>
    </div>

    <div class="row">
        <div class="childTaskContainer">
            <div class="row">
                <div class="childOutstandingTasks">
                    <h3 class="filterTitle">Outstanding</h3>
                    <app-task-card class="col-3" *ngFor="let task of (tasks | outstandingTasks); let i = index;"
                        [task]=task [currentRoute]="currentRoute" (taskCompleteEmit)="taskComplete($event)"
                        (taskIncompleteEmit)="taskIncomplete($event)"></app-task-card>
                </div>
            </div>
            <div class="row">
                <div class="childCompletedTasks">
                    <h3 class="filterTitle">Completed</h3>
                    <app-task-card class="col-3" *ngFor="let task of (tasks | completedTasks); let i = index;"
                        [task]=task [currentRoute]="currentRoute" (taskCompleteEmit)="taskComplete($event)"
                        (taskIncompleteEmit)="taskIncomplete($event)"></app-task-card>
                </div>
                <div class="childApprovedTasks">
                    <h3 class="filterTitle">Approved</h3>
                    <app-task-card class="col-3" *ngFor="let task of (tasks | approvedTasks); let i = index;"
                        [task]=task [currentRoute]="currentRoute" (taskCompleteEmit)="taskComplete($event)"
                        (taskIncompleteEmit)="taskIncomplete($event)"></app-task-card>
                </div>
            </div>
        </div>
    </div>
</div>