<!-- Parent view of child - info ////////////////////////////////////////// -->
<!-- Child toolbal -->
<mat-toolbar class="sidePadding" *ngIf="currentRoute == 'child-view'">
    <h1 class="childName">
        <img src="{{ img }}">
        <span>{{ first_name }}</span>
    </h1>
    <span class="example-spacer"></span>
    <span class="childBalance">${{ balance }}</span>
</mat-toolbar>

<!-- Tasks main pane -->
<div class="row" *ngIf="currentRoute == 'child-view'">
    <div class="main">
        <div class="appTasks">

            <h2 class="columnTitle">Tasks</h2>
            <h1 *ngIf="noTasks">YOU HAVE NO TASKS, IDIOT!</h1>
            <app-add-task (addTaskEmit)="addTask($event)"></app-add-task>

            <h3 class="filterTitle">Approved</h3>
            <app-task-card class="col-3" *ngFor="let task of (tasks | approvedTasks); let i = index;"
                [task]=task [currentRoute]="currentRoute" (taskCompleteEmit)="taskComplete($event)"
                (taskIncompleteEmit)="taskIncomplete($event)" (approveTaskEmit)="approveTask($event)"></app-task-card>

            <h3 class="filterTitle">Completed
                <mat-icon aria-label="Set all completed tasks approved">done_all</mat-icon>
            </h3>
            <app-task-card class="col-3" *ngFor="let task of (tasks | completedTasks); let i = index;"
                [task]=task [currentRoute]="currentRoute" (taskCompleteEmit)="taskComplete($event)"
                (taskIncompleteEmit)="taskIncomplete($event)" (approveTaskEmit)="approveTask($event)"></app-task-card>

            <h3 class="filterTitle">Outstanding
                <mat-icon aria-label="Set all outstanding tasks complete">done_all</mat-icon>
            </h3>
            <app-task-card class="col-3" *ngFor="let task of (tasks | outstandingTasks); let i = index;"
                [task]=task [currentRoute]="currentRoute" (taskCompleteEmit)="taskComplete($event)"
                (taskIncompleteEmit)="taskIncomplete($event)" (approveTaskEmit)="approveTask($event)"></app-task-card>
        </div>
    </div>

    <!-- Wishlist side pane -->
    <div class="side">
        <h2 class="columnTitle">Wishlist</h2>
        <app-wish-list></app-wish-list>
    </div>
</div>


<!-- Child tasks view ////////////////////////////////////////// -->
<div class="myTasks" *ngIf="currentRoute == 'child-task'">
    <h2 class="columnTitle">My Tasks</h2>

    <h3 class="filterTitle">Approved</h3>
    <app-task-card class="col-3" *ngFor="let task of (tasks | approvedTasks); let i = index;"
        [task]=task [currentRoute]="currentRoute" (taskCompleteEmit)="taskComplete($event)"
        (taskIncompleteEmit)="taskIncomplete($event)"></app-task-card>

    <h3 class="filterTitle">Completed</h3>
    <app-task-card class="col-3" *ngFor="let task of (tasks | completedTasks); let i = index;"
        [task]=task [currentRoute]="currentRoute" (taskCompleteEmit)="taskComplete($event)"
        (taskIncompleteEmit)="taskIncomplete($event)"></app-task-card>

    <h3 class="filterTitle">Outstanding</h3>
    <app-task-card class="col-3" *ngFor="let task of (tasks | outstandingTasks); let i = index;"
        [task]=task [currentRoute]="currentRoute" (taskCompleteEmit)="taskComplete($event)"
        (taskIncompleteEmit)="taskIncomplete($event)"></app-task-card>
</div>