<!-- <div class="split left centered"> -->
<div class="appTasks" *ngIf="currentRoute">
    <h2 class="childTitle" *ngIf="currentRoute == 'child-task'">My Tasks</h2>
    <!-- {{tasks[0].User.first_name}}'s -->
    <h2 class="childTitle" *ngIf="currentRoute == 'child-view'">
        <img src="{{ img }}">
        <span>{{user}}</span>
        <span class="example-spacer"></span>
        <span class="childBalance">${{balance}}</span>
    </h2>

    <app-add-task (addTaskEmit)="addTask($event)"></app-add-task>

    <h2 class="childSubTitle" *ngIf="currentRoute == 'child-view'">Completed Tasks</h2>

    <app-task-card class="col-3" *ngFor="let task of (tasks | completedTasks); let i = index;"
        [task]=task (taskStatusCompletedEmit)="taskStatusCompleted($event)"></app-task-card>

    <h2 class="childSubTitle" *ngIf="currentRoute == 'child-view'">Outstanding Tasks</h2>

    <app-task-card class="col-3" *ngFor="let task of (tasks | outstandingTasks); let i = index;"
        [task]=task (taskStatusCompletedEmit)="taskStatusCompleted($event)"></app-task-card>

</div>


<!-- </div> -->

<!-- <div class="split right centered">
<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ4VtUsBNnK6cSYzAe7qQi1T9LMZBe34Pkl_uBCKa-J5oNVq8ab" alt="Ebay Wish List" class="ebayimg">
        
    </div> -->