<mat-card class="task-card">

    <div class="row" *ngIf="currentRoute == 'child-view'">
        <h1 class="taskTitle">{{ task.title }}</h1>
        <h2 class="taskDescription">{{ task.description }}</h2>
    </div>
    <div class="row" *ngIf="currentRoute == 'child-view'">
        <!-- <div class="main">
        </div>

        <div class="side">
            <h2 class="columnTitle">Wishlist</h2>
            <app-wish-list></app-wish-list>
        </div> -->
    </div>

    <mat-card-header>

        <!-- <mat-card-title class="taskTitle">{{ task.title }}</mat-card-title>
        <mat-card-subtitle class="taskDescription">{{ task.description }}</mat-card-subtitle> -->
    </mat-card-header>

    <mat-card-content>
        <span class="taskParagraph">${{ task.payment }}</span>
        <span class="taskParagraph">{{ task.deadline }}</span>
        <!-- <mat-card-subtitle class="taskPayment">${{ task.payment }}</mat-card-subtitle>
        <mat-card-subtitle class="taskDeadline">{{ task.deadline }}</mat-card-subtitle> -->
    </mat-card-content>

    <mat-card-actions style="border-top: 1px solid black;">
        <!-- Incomplete task state - complete click -->
        <mat-checkbox class="example-margin" color="primary" [(indeterminate)]="indeterminate"
            [labelPosition]="labelPosition" [checked]="task.status_id >= 2"
            matTooltip="Task completion" matTooltipClass="toolTip_" (click)="taskStatusChange(task)">
        </mat-checkbox>
        <!--  *ngIf="task.status_id < 3 " -->

        <button mat-icon-button color="primary" *ngIf="currentRoute == 'child-view'"
            matTooltip="Task approval" matTooltipClass="toolTip_" (click)="approveTask(task)">
            <mat-icon aria-label="Approve task">credit_card</mat-icon>
        </button>
    </mat-card-actions>
</mat-card>








<!-- <mat-card class="task-card">
    <mat-card-header>
        <div mat-card-avatar class="task-header-image">
            <mat-icon class="example-icon" color="primary">local_dining</mat-icon>
        </div>
        <mat-card-title *ngIf="_isParent == true">{{ task.User.first_name }}</mat-card-title>
        <mat-card-subtitle>{{ task.title }}</mat-card-subtitle>
        <mat-card-subtitle>${{ task.payment }}</mat-card-subtitle>
        <mat-card-subtitle>Complete by: {{ task.deadline }}</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content *ngIf="task.description">
        <p>{{ task.description }}</p>
    </mat-card-content>

    <mat-card-actions>
        <mat-checkbox class="example-margin" color="primary" [(indeterminate)]="indeterminate"
            [labelPosition]="labelPosition" [checked]="task.status_id >= 2"
            matTooltip="Task completion" matTooltipClass="toolTip_" (click)="taskStatusChange(task)">
        </mat-checkbox>

        <button mat-icon-button color="primary" *ngIf="currentRoute == 'child-view'"
            matTooltip="Task approval" matTooltipClass="toolTip_" (click)="approveTask(task)">
            <mat-icon aria-label="Approve task">credit_card</mat-icon>
        </button>
    </mat-card-actions>
</mat-card> -->