<mat-card class="task-card">
    <mat-card-header>
        <div mat-card-avatar class="task-header-image">
            <mat-icon class="example-icon" color="primary">local_dining</mat-icon>
        </div>
        <mat-card-title>{{ task.title }}</mat-card-title>
        <mat-card-subtitle>${{ task.payment }}</mat-card-subtitle>
        <mat-card-subtitle>Complete by: {{ task.deadline }}</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content *ngIf="task.description">
        <p>{{ task.description }}</p>
    </mat-card-content>
    <mat-card-actions>
        <mat-slide-toggle class="example-margin" [color]="color" [(ngModel)]="taskCompletedCheck" 
        [disabled]="taskCompletedDisabled" (click)="taskStatusCompleted(task)" [checked]="checked">
            <!-- {{ taskCompleted }} -->
            Completed
        </mat-slide-toggle>
        <!--[checked]="checked" *ngIf="!taskCompletedCheck"  *ngIf="taskCompletedCheck"-->

        <mat-slide-toggle class="example-margin" [color]="color" [(ngModel)]="taskApprovedCheck"
            [disabled]="taskApprovalDisabled">
            Approve
        </mat-slide-toggle>

        <mat-checkbox class="example-margin" [(indeterminate)]="indeterminate"
            [labelPosition]="labelPosition" [disabled]="paidDisabled">
            <!-- [(ngModel)]="paidChecked" -->
            Paid
        </mat-checkbox>
        <!-- <button mat-button>LIKE</button>
        <button mat-button>SHARE</button> -->
    </mat-card-actions>
</mat-card>

<!-- <mat-checkbox class="example-margin" [(ngModel)]="checked">Checked</mat-checkbox>
<mat-slide-toggle class="example-margin" [color]="color" [checked]="checked"
    [disabled]="disabled">
    Slide me!
</mat-slide-toggle> -->



<!-- <li data-id="{{movie._id}}" (click)="movieWasClicked(movie)">
    <div class="movie-data">
        <div class="img">
            <img src="{{movie.imgUrl}}">
        </div>
        <div class="movie-title">
            <h4>{{movie.title}}</h4>
            <p>{{movie.year}}</p>
            <p>${{movie.price}}</p>
        </div>
        <div class="desc">
            {{movie.shortDescription}}
        </div>
        <i class="fa fa-trash" *ngIf="deleteMoviesFromPrivate == true" (click)="removePrivateMovie(movie)"></i>
    </div>
</li> -->