<div>

 <mat-card>

  <p>
    Alloweb makes it easy for parents and chilren to keep track of allowances. The app allows children to perform tasks and earn
    real money, which they can spend immediately or to save up to buy all the things they have been dreaming about. The app
    is useful for teaching kids some basic money management and budgeting skills, and instills in them a desire to earn money
    and to save it.
  </p>
 
    <--<input id="get-mail" name="mail" [(ngModel)]="userEmail"  class="login" type="text" placeholder="Please enter your email address">
    <button (click)="parentLogin(userEmail)" >Submit</button>
    <p class="err">{{error}}</p> -->

    </mat-card>

</div>
<mat-grid-list cols="3">
  <mat-grid-tile></mat-grid-tile>

  <!-- Writing markup for login starts -->
  <mat-grid-tile class='login-element'>
    <div class="login-container">

      <!-- Template Header starts -->
      <div class="login-box-header">
          <h1>Welcome to Alloweb!</h1>
      </div>
      <!-- Template Header ends -->

      <!-- Template Body starts -->
      <div class="login-box-body">

        <!-- Markup for getting Username starts -->
        <mat-grid-list cols="9" rowHeight="75px">
          <mat-grid-tile [rowspan]="1" class="login-icon">
            <mat-icon>lock</mat-icon>
          </mat-grid-tile>
          <mat-grid-tile [colspan]="7">
            <mat-form-field class="justifier">
                <input matInput placeholder="Email"[(ngModel)]="userEmail" text="text">
            </mat-form-field>
          </mat-grid-tile>
        </mat-grid-list>
        <!-- Markup for getting Username ends -->

        <!-- Markup for getting Password starts -->
        <mat-grid-list cols="9" rowHeight="100px">
          <mat-grid-tile [rowspan]="1" class="login-icon">
            <mat-icon>remove_red_eye</mat-icon>
          </mat-grid-tile>
          <mat-grid-tile [colspan]="7">
            <mat-form-field class="justifier">
              <input matInput placeholder="Password"
                text="password">
            </mat-form-field>
          </mat-grid-tile>
        </mat-grid-list>
        <!-- Markup for getting Password ends -->

        <button mat-raised-button class="login-button" (click)="parentLogin(userEmail)">
          <mat-icon>input</mat-icon> Login
        </button>
        <p class="err">{{error}}</p>
      </div>
      <!-- Template Body ends -->

    </div>
  </mat-grid-tile>
  <!-- Writing markup for login ends -->
  <mat-grid-tile></mat-grid-tile>

</mat-grid-list>
