.addTask {
    padding: 10px 15px 0px 15px;
    border: 0px;
    margin: 0px;
    margin-bottom: 15px;
    /* max-width: 418px; */
    max-width: 100%;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

.addTaskForm {
    /* min-width: 150px;
    max-width: 500px; */
    width: 100%;
}

/* .addTaskActions {
    padding: 0px 0px 10px 10px;
} */

mat-card-actions.addTaskActions {
    padding: 15px 0px;
    margin: 0px;
    /*-16px*/
}

mat-card-actions.addTaskActions button {
    margin-bottom: 15px;
}

.example-full-width {
    width: 100%;
}

.addTaskDescription {
    height: 65px;
    max-height: 75px;
}

input:-webkit-autofill {
    background-color: white;
}