img{
    border-radius: 50%;
    vertical-align: middle;
    width: 150px;
    height: 150px;
}

mat-card{
    margin: 20px;
    cursor: pointer;
}

.child-id{
    float: right;
    padding-right: 10px;
}
