mat-card {
    margin: 20px;
    cursor: pointer;
}

.child-id {
    float: right;
    padding-right: 10px;
}

.child-card {
    /* width: 130px; */
    background-color: #42A5F5;
    padding: 14px;
    margin: 0px;
    width: 120px;
    min-height: 180px
}

.child-data {
    text-align: center;
}

.child-data img {
    border-radius: 50%;
    vertical-align: middle;
    width: 100px;
    height: 100px;
    object-fit: cover;
}

.child-name {
    color: #1A237E;
    text-align: center;
}

.child-name h2 {
    margin: 10px 0px;
}

.child-balance {
    text-align: center;
    color: #B2EBF2;
}

.child-balance h4 {
    margin: 10px 0px;
}