.container {
    display: flex;
}

.tasks {
    flex: 1;
}

.expander-container {
    flex: 1;
}

.wish-list-item {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 15px;
    margin-top: 15px;
}

.mat-progress-bar {
    margin: 15px;
    width: 300px;
}

img {
    width: 35%;
    height: 150px;
    float: left;
    padding: 20px;
}

.wish-list-card {
    margin-top: 15px;
    width: 400px;
    background-color: #FFFFFF;
    font-family: 'Indie Flower', cursive;
}

.mat-card {
    padding: 0.5%;
}

.search-popup {
    margin-top: 30px;
    margin-left: 15px;
    padding: 5px;
}

.go {
    top: 25px;
    font-family: 'Indie Flower', cursive;
    color: green;
}

.remove-wish{
  color: rgba(158, 15, 15, 0.842);
  width: 15px;
  height: 15px;
  text-align: center;
  line-height: 15px;
  position: absolute;
  bottom: 3%;
  right: 3%;
}

.remove-wish:hover {
    cursor: pointer;
    transform: scale(1.1)
}

#mySearch, .mySearchbtn {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 15px;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    width: 400px;
}