<!-- Parent wish view ///////////////////////////////// -->
<div class="container">
    <div class="row" *ngIf="currentRoute == 'child-view'">
        <div class="main">
            <!-- <div class="tasks"> -->
            <div class="wish-list-item" *ngFor="let wish of wishListData">

                <mat-card class="wish-card">
                    <img class="wishImage" src="{{wish.goal_img}}">
                    <div class="wishTexts">
                        <h1 class="wishTitle">{{ wish.title }}</h1>
                        <div>
                            <span class="wishParagraph">{{wish.price | currency}}</span>
                        </div>
                    </div>
                    <progress max="100" value="{{wish.progress}}" class="html5" matTooltip="{{wish.progress}}%"
                        matTooltipClass="toolTip_">
                        <div class="progress-bar">
                            <span style="width: 80%">80%</span>
                        </div>
                    </progress>

                    <mat-card-actions>
                        <a *ngIf="currentRoute =='wish-list/'" mat-raised-button href="{{wish.link}}"
                            class="buyWish" target="framename"
                            [disabled]="wish.progress < 100 " (click)="buyItNow(wish)">Buy</a>

                        <button mat-button *ngIf="currentRoute =='wish-list/'" (click)="removeWish(wish)">
                            Remove
                        </button>

                    </mat-card-actions>
                </mat-card>

            </div>
        </div>
    </div>
</div>




<!-- Child wish view ///////////////////////////////// -->
<mat-toolbar class="pageToolbar" *ngIf="currentRoute == 'wish-list/'">
    <h2 class="tasksPageTitle">My Wish-list</h2>
    <span class="example-spacer"></span>
    <button mat-raised-button style="background-color: #42A5F5" (click)="openDialog()">
        <mat-icon aria-label="Add icon">add</mat-icon>
    <span class="add-child-text"> Add a wish</span>
    </button>
</mat-toolbar>

<div class="noWishes" *ngIf="currentRoute == 'wish-list/' && noWish">
        <h3>*You have no wishes - add some!</h3>
</div>

<div class="myWishList" *ngIf="currentRoute == 'wish-list/'">
    <div class="row">
        <div class="childTaskContainer">
            <div class="wish-list-item" *ngFor="let wish of wishListData">

                <mat-card class="wish-card">
                    <img class="wishImage" src="{{wish.goal_img}}">
                    <div class="wishTexts">
                        <h1 class="wishTitle">{{ wish.title }}</h1>
                        <div>
                            <span class="wishParagraph">{{wish.price | currency}}</span>
                        </div>
                    </div>
                    <progress max="100" value="{{wish.progress}}" class="html5" matTooltip="{{wish.progress}}%"
                        matTooltipClass="toolTip_">
                        <div class="progress-bar">
                            <span style="width: 80%">80%</span>
                        </div>
                    </progress>

                    <mat-card-actions>
                        <!-- <a *ngIf="currentRoute =='wish-list/'" mat-raised-button href="{{wish.link}}"
                            class="buyWish" color="primary" target="framename"
                            [disabled]="wish.progress < 100 " (click)="buyItNow(wish)">Buy</a> -->
                            <button mat-raised-button *ngIf="currentRoute =='wish-list/'"
                                class="buyWish" style="background-color: #42A5F5" [disabled]="wish.progress < 100 "
                                (click)="buyItNow(wish)">Buy</button>

                        <button mat-button *ngIf="currentRoute =='wish-list/'" (click)="removeWish(wish)">
                            Remove
                        </button>

                    </mat-card-actions>
                </mat-card>

            </div>
        </div>
    </div>
</div>


<!-- <a *ngIf="wish.progress >=100" href="{{wish.link}}" target="_blank"> -->
<!-- <button mat-raised-button class="go" color="primary" [disabled]="wish.progress < 100">
                                     *ngIf="wish.progress >=100"
                                    <a href="{{wish.link}}" target="_blank">Buy</a>
                                </button> -->

<!-- <app-wish-list-search></app-wish-list-search> -->

<!-- <button mat-icon-button *ngIf="currentRoute =='wish-list/'" (click)="removeWish(wish)">
                    <mat-icon class="deleteWwish" aria-label="Delete wish">delete</mat-icon>
                </button> -->

<!-- <p class="wishProgress" attr.data-value="{{wish.progress}}"></p> -->
<!-- <p class="wishParagraph" attr.data-value="{{wish.progress}}">${{balance}} of ${{wish.price}}</p> -->

<!--                 <img src="{{wish.goal_img}}">
                <b> {{wish.title}}</b>
                <br>
                <br> price: {{wish.price | currency}}
                <br>
                <a *ngIf="wish.progress >=100" href="{{wish.link}}" target="_blank">
                    <button mat-button class="go" (click)="buyItNow(wish)">
                        <b> buy the product now!!</b> -->