<div class="container">

<div class="tasks">
<!-- work with data-base only  -->

<div class="wish-list-item" *ngFor="let wish of wishListData">

    <mat-card class="wish-list-card">

        <br>
        <mat-progress-bar mode="determinate" value="{{wish.progress}}">goal-bar</mat-progress-bar><p class="percent">{{wish.progress}}%</p>

        <img src="{{wish.goal_img}}">
        <b> {{wish.title}}</b>
        <br>
        <br> price: {{wish.price | currency}}
        <br>
        <a *ngIf="wish.progress >=100"href="{{wish.link}}" target="_blank">
            <button mat-button class="go">
                <b> buy the product now!!</b>
            </button>
        </a>
        <a (click)="removeWish(wish)"><mat-icon class="remove-wish">delete</mat-icon></a>
    </mat-card>
</div> 
</div>
<div class="expander-container">
<!-- <app-wish-list-search></app-wish-list-search> -->
<button mat-raised-button class="search-popup" (click)="openDialog()">Add a new Wish!</button>
</div>
</div>