
<div class="wish-list-item" *ngFor="let wish of wishListData" >

<mat-card class="wish-list-card">

<br>
<mat-progress-bar mode="determinate" value="40">goal-bar</mat-progress-bar>

<p>title: {{wish.title}}</p> 
<p>description: {{wish.description}}</p>
<p >price: {{wish.price}}$</p>
<img src="{{wish.goal_img}}">
<br>
<a href="{{wish.link}}"  target="_blank"> 
    <button mat-button > buy the product now</button>
</a>
</mat-card>
</div>


<!-- <div class="movie-card-container">
    <mat-card *ngFor="let movie of movies" class="movies-card">
        <img src="{{movie.img}}">
        <h3>{{ movie.title }} , {{ movie.year }}</h3>
        <p>
            <b>descreption:</b>{{ movie.descrShort }} </p>
        <p>
            <b>price:</b>{{ movie.price }}$</p>
        <button (click)="selectMovie(movie.id)">Buy</button>
    </mat-card>
</div> -->
<!-- (click)="{{wish.link}}" -->
<!-- {{wish.goal-img}} -->

    
