/* You can add global styles to this file, and also import other style files */

@import "~@angular/material/prebuilt-themes/indigo-pink.css";
body {
    padding: 0px;
    margin: 0px;
    font-family: 'Quicksand', sans-serif;
    background-color: #E9EAED;
}

* {
    font-family: 'Quicksand', sans-serif;
}

.sidePadding {
    padding: 0px 50px;
}

.custom-dialog-container .mat-dialog-container {
    /* padding: 0; */
    background-color: #E9EAED;
}