/* You can add global styles to this file, and also import other style files */

@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body {
    padding: 0px;
    margin: 0px;
<<<<<<< HEAD
}
=======
    font-family: 'Roboto', sans-serif;
}

/* .justifyLeft {
    background-color: red;
    display: flex;
    justify-content: left;
    text-align: left;
} */

/* .mat-grid-tile, .mat-figure {
    background-color: red;
    display: flex;
    justify-content: left ;
} */
>>>>>>> e4d427f41fd9f407f30926ebe8c48737838d9153
